
.card

{
      padding: 10px 10px;
      margin: 45px;                 /*  separação entre os cards            */
}

.card-1                            /*   Todos os cards            */

{
      display: flex;                 
      justify-content: center;
      align-items: center;
}

.card2                                  /*  posso apagar ou não, só coloca um embaixo do outro  */

{
      display: flex;
      justify-content:center;
}



.Carrossel-banner
                                  /* para deixar os card mais embaixo colocar a altura e definir :>  */
{
      padding: 30px 150px;
}

header

{
      padding: 15px 10px;
      display: flex;
      list-style: none;
      cursor: pointer;
      gap: 120px;
      justify-content: center;
      align-items: center;
}

header img

{
      width: 110px;
      
}



a:hover

{
      color:rgb(15, 107, 15);
      
}

header a 

{
      text-decoration: none;
      color: black;
      transition: 0.6s;
      font-size: 18px;
      font-weight: 500;
      
}


.Carrossel-banner3

{
       
       padding: 30px 150px;

}

.Carrossel-banner2

{
       padding: 30px 150px;
}


.Card-part2

{
   display: flex;
   justify-content: center;
}

.Card-part3

{
   padding: 0px 90px 0px 95px;
}















   







   


   
      




 
