








.card

{
   
     padding: 10px 10px;
     width: 400px;
     margin: 35px;
     display: flex;


     
     

}


.card2

{
    
     display: flex;
     justify-content: center;

}






   







   


   
      




 
